*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 10px;
}
.grid {
    width: 90%;
    max-width: 1200px;

    margin: 0 auto;
}

/*header*/

header {
    background-color: rgb(90, 50, 199);
  }  
  
  .container_header {
      height: 80px;
      display: flex;
      justify-content: space-between;
      }
  
  .nav_header {
      width: 693px;
      display: flex;
      justify-content: flex-end;
  }
  
  
  .nav_header a {
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
  }

  hr{
      margin-bottom: 5px;
  }

  /*main */


.banner  {
    background: linear-gradient(90deg, #9F0000 0%, #CF0000 40.14%, #000207 69.72%, #000000 101.41%);
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    justify-content: space-around;
    height: 590px;
}

.container_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_banner {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.banner h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    line-height: 200px;
    display: flex;
    justify-content: space-between;
}